/*==========================================PAINEL 1===================================================*/
.campo-listar {
    /*border: 1px solid;*/
    height: 88%;
    overflow: auto;
}
.tabela-titulo table{
    width: 100%;
    border: 1px solid;
    margin-bottom: 10px;    
}
.tabela-titulo table th {
    text-align: left;
}
.tabela-lancamentos table{
    width: 100%;    
}
.tabela-lancamentos table a {
    text-decoration: none;
    color: #fff;
    background-color: #ff0000;
    display: block;
    text-align: center;
}
.tabela-lancamentos table a:hover {
    background-color: #fff;
    color: #ff0000;
}

/*==========================================PAINEL 2===================================================*/
.form-cesta-2 {
    display: flex;
    align-items: flex-end;
}
.form-cesta-2 input, select {
    width: 150px;
    height: 30px;
    margin-right: 10px;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}

.busca-area .input-busca-produto  {
    width: 300px;
    height: 35px;
    font-size: 16px;
}

.busca-area .input-tipoBusca  {
    width: 150px;
    height: 35px;
    font-size: 16px;
}

/*==========================================PERSONALIZAVEL===================================================*/
.busca-resultado {
    height: 87%;
    overflow: auto;
}
.busca-resultado table{
    border: 1px solid #000;
    margin-bottom: 10px;
    height: 50px;
    line-height: 50px;
    
}
.busca-resultado table th{
    text-align: left;
    
} 

.campo-inserir{
    display: flex;
}

.campo-inserir form{
    display: flex;
    align-items:flex-end;
    flex-wrap: wrap;
}
.campo-inserir form input{
    height: 30px;
    margin-right: 10px;
    margin-top: 10px;
} 
.input-pesquisa {
    width: 400px;
    height: 35px;
}



/*==========================================ADAPTAVEL A TELA===================================================*/

@media (max-height:1000px) {
    .busca-resultado {
        height:81%;
    }
}
@media (max-height:800px) {
    .busca-resultado {
        height:84%;
    }
}
@media (max-height:655px) {
    .busca-resultado {
        height:79%;
        font-size: 14px;
    }
}