/*==========================================PAINEL 1===================================================*/
.campo-listar {
    /*border: 1px solid;*/
    height: 88%;
    overflow: auto;
}
.tabela-titulo table{
    width: 100%;
    border: 1px solid;
    margin-bottom: 10px;    
}
.tabela-titulo table th {
    text-align: left;
}
.tabela-lancamentos table{
    width: 100%;    
}
.tabela-lancamentos table a {
    text-decoration: none;
    color: #fff;
    background-color: #ff0000;
    display: block;
    text-align: center;
}
.tabela-lancamentos table a:hover {
    background-color: #fff;
    color: #ff0000;
}

/*==========================================PAINEL 2===================================================*/
.form-cesta-2 {
    display: flex;
    align-items: flex-end;
}
.form-cesta-2 input, select {
    width: 150px;
    height: 30px;
    margin-right: 10px;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}

/*==========================================PERSONALIZAVEL===================================================*/

.campo-inserir {
    display: flex;
}