
/*===================DEFINICAO GERAL======================================*/

.cartazDobra, .cartazCabecalho, .corpoRodape {
    display: none;
}

.CartazImpressao-1, .CartazImpressao-2, .CartazImpressao-3 {
    margin: 0px 5px 5px 0px;
    flex-direction: column;
}
.CartazImpressao-2, .CartazImpressao-3 {
    display: none;
}

.folha-A4 {
    display: flex;
}

.corpo-Cartaz {
    display: flex;
    align-items: center;
}
.corpo-Painel {
    display: flex;
    flex-direction: column;
    margin: 0px 5px 0px 0px;
}

/*===================ESTRUTUA DO PAINEL===================================*/

.painel-Geral {
    width: 230px;
    background-color: #ff0000;
    padding: 17px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
    margin-bottom: 5px;
}
.painel-novo {
    padding: 0px 17px 17px 17px;
    display: none;
}

.painel-Geral h3 {
    font-size: 15px;
    margin-bottom: 3px;
}
.painel-Descricao, .painel-Marca, .painel-Valor, .painel-Medida, .painel-Descricao, .painel-Escolher {
    margin: 5px 0px 5px 0px;
}
.painel-Geral textarea, input, select {
    width: 100%;
}
.painel-Descricao textarea {
    resize: none;
}
.painel-Escolher input {
    width: auto;

}
.painel-Geral .painel-Valor {
    display: flex;
    justify-content: space-between;
}
.painel-Geral .painel-Escolher form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.painel-Valor .painel-Real {
    margin-right: 8px;
}
.corpo-Painel-Botao input {
    height:40px;

}

/*=======================ESTRUTURA DO CARTAZ==================================*/


.cartazDobra, .cartazCabecalho, .corpoCartaz, .corpoRodape {
    width: 520px;
    box-sizing: border-box;
}

.cartazDobra {
    height: 118px;
    border: 1px solid #000;
}
.cartazCabecalho {
    height: 140px;
    background-color: #FF0000;
    justify-content: center;
}
.cartazCabecalho h1 {
    font-size: 120px;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
}
.corpoCartaz {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 388px;
    background-color: #FFFF00;
    padding: 17px;
}
.corpoCartaz-Descricao {
    display: flex;
    align-items: center;
    height: 84px;
}
.corpoCartaz-Descricao textarea {
    width: 100%;
    height: 100%;
    font-weight: normal;
    font-size: 35px;
    text-align: center;
    resize: none;
    border: none;
    color: #000;
    text-transform: capitalize;
}
.corpoCartaz-Titulo {
    font-size: 70px;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
}
.corpoCartaz-Preco {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ff0000;
    height: 150px;
    /*background-color: #fff;*/

}
.corpoCartaz-Preco .cifrao {
    flex: 1;
    height: 100%;
    width: 100px;
    /*background-color: #9A0000;*/
}

.corpoCartaz-Preco .cifrao h1 {
    font-size: 60px;
    line-height: 134%;
    margin-bottom: 5px;
}
.corpoCartaz-Preco .cifrao .de-por h1 {
    font-size: 45px;
    line-height: 90%;
}
.corpoCartaz-Preco .preco {
    display: flex;
    flex: 1;
    height: 100%;
    /*background-color: blue;*/
}
.corpoCartaz-Preco .real {
    font-size: 150px;
    line-height: 100%;
    height: 100%;
    width: 245px;
    /*background-color: green;*/
}
.corpoCartaz-Preco .virgula {
    font-size: 80px;
    line-height: 80%;
    height: 100%;
    width: 27px;
    /*background-color: hotpink;*/
}
.corpoCartaz-Preco .moeda-medida {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 90px;
    /*background-color: paleturquoise;*/
}
.corpoCartaz-Preco .moeda {
    font-size: 80px;
    line-height: 114%;
}
.corpoCartaz-Preco .medida {
    font-size: 25px;
    margin-bottom: 50%;
    margin-right: 2px;
}
.preco h1 {
    text-align: right;
}
.corpoCartaz .corpoCartaz-Motivo {
    font-size: 16px;
}
.corpoCartaz .corpoCartaz-Motivo h1 {
    font-size: 16px;
}
.corpoRodape {
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: #ff0000;
    box-sizing: border-box;
    padding: 0px 17px 0px 17px;
}
.corpoRodape-Contato {
    display: flex;
}
.corpoRodape-Contato-Contato {
    display: flex;
    align-items: center;
}
.corpoRodape-Contato-Contato h1 {
    font-size: 20px;
    padding: 0px 20px 0px 05px;
    color: #fff;
}
.corpoRodape-Contato-Contato img {
    width: 35px;
}
.corpoRodape-Logo img {
    width: 70px;
}


@media print {

    .cartazDobra, .cartazCabecalho, .corpoRodape {
        display: flex;
    }
    .corpo-Painel{
        display: none;
    }
    .painel-menu {
        background-color: #fff;
    }
    .folha-A4 {
        width: 1045px;
    }
    
}

@media screen and (max-width: 1320px) {
    .corpo-Cartaz {
        flex-direction: column;
    }
    .corpo-Painel {
        justify-content: space-around;
    }
}