* {

    box-sizing: border-box;
}
body {
    font-family: 'Open Sans',sans-serif;
}

.dados{
    display: flex;
    align-items: center;
    
}
.cabecalho {
    border: 1px solid #000;
    padding: 10px;
}
.cabecalho table {
    font-size: 14px;
}
.tabelaProduto {
    border-bottom: 1px solid #000;
    font-size: 12px;
}

.rodape-dataImpessao {
    display: flex;
    justify-content: space-between;
}

footer {
    position: fixed; 
    bottom: -30px; 
    left: 0px; 
    right: 0px;
    height: 50px; 
}