
/*===========================================================*/

.body-busca {
    flex: 1;
    /*background-color: red;*/
    height: 100%;
}

.busca-area .input-busca-produto  {
    width: 400px;
    height: 35px;
    font-size: 16px;
}
.busca-area .input-busca-codigo  {
    width: 250px;
    height: 35px;
    font-size: 16px;
}
.busca-area .input-botao {
    width: 150px;
    height: 35px;
    font-size: 16px;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

/*===========================================================*/

.campo-inserir {
    margin-bottom: 20px;
    border: 1px solid;
    padding: 10px;
}
.tabela-titulo table{
    width: 100%;
    border: 1px solid;
    
}
.tabela-titulo table th{
    text-align: left;
    
} 
.tabela-titulo table th { 
    font-size: 16px;
}

.tabela-titulo table td { 
    border: 1px solid #000; 
    font-size: 20px;
}

/*===========================================================*/
.busca-resultado {
    height: 87%;
    overflow: auto;
}
.busca-resultado table{
    width: 100%;
    
}
.busca-resultado table th{
    text-align: left;
    
} 
.busca-resultado table tr:nth-child(even){
    background-color: #E6E6E6;
    
} 

.busca-resultado table tr:hover {
    background-color: green;
    color: #fff;   

}

/*===========================================================*/

