* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans',sans-serif;
}

/*======================================================*/

.main_styled {
    overflow-x: hidden;
    display: flex;
}

.desabilited {
    display: none;
}

/*=====================MENU LATERAL=================================*/

.menu-lateral {
    height: 100vh;
    padding-top: 70px;
    overflow-x: hidden;
    background-color: rgb(47, 49, 54);

}
.painel-menu-widget {
    width: 70px;
    height: 70px;
}
.painel-menu-widget a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.painel-menu-widget a img {
    width: 70%;

}

.painel-menu-widget :hover {
    background-color: #fff;
}

/*====================CONTEUDO CENTRAL==================================*/

.conteudo-Central {
    flex: 1;
    height: 100vh;
    overflow-x: hidden;
    background-color: rgb(32, 34, 37);
}
.corpo {
    height: 100%;
}
.desktop_header {
    height: 6%;
    display: flex;
    align-items: center;
    background-color: rgb(47, 49, 54);
    padding-right: 30px;
    padding-left: 30px;
}
.superiorMenu {
    display: flex;
    flex: 1 1 0%;
    justify-content: flex-end;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}
.superiorMenu a {
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.page {
    padding: 30px;
    height: 94%;  
}
.conteudo-Geral {
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 20px;
    background-color: #ccc;
}