.container {
    margin-right: auto;
    margin-left: auto;
    background-color: #4484CE;
    border-radius: 15px;
    box-shadow: 1px 1px 6px #000;
}
.form-Login {
    max-width: 280px;
    padding: 15px;
    margin: 0 auto;
}
.form-Login-cabecalho {
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
}
.form-Login-input {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%;
}
.form-Login-button {
    display: block;
    width: 100%;
    font-size: 18px;
    padding: 10px;

}